{% extends "bbase.html" %}

{% block content %}
    <div class="main">

        <!-- Post  -->
        <div class="title">{{ post.title }}</div>
        <ul>
            <div class="time">{{ post.created }}</div>
            <div class="body">{{ post.body|linebreaks }}</div>
        </ul>

        <!-- Comments  -->
        {% if comments %}
            <p>Comments:</p>
        {% endif %}

        <form action="/blog/delete_comment/" method="POST">{% csrf_token %}
        {% for comment in comments %}
            <div class="comment">
                <div class="time">{{ comment.created }} | {{ comment.author }}</div>
                <div class="body">{{ comment.body|linebreaks }}</div>
                {% if user.is_staff %}
                    <input type="checkbox" name="delete" value="{{ comment.pk }}">
                    <a href="/blog/delete_comment/{{ comment.pk }}/">delete</a>
                {% endif %}
            </div>
        {% endfor %}

        {% if user.is_staff and comments %}
            <p><input type="submit" value="Delete all selected"></p>
            <br />
        {% endif %}
        </form>
        <div id="addc">Add a comment</div>
        <!-- Comment form  -->
        <form action="/blog/add_comment/{{ post.pk }}/" method="POST">{% csrf_token %}
            <div id="cform">
                Name: {{ form.author }}
                <p>{{ form.body|linebreaks }}</p>
            </div>
            <div id="submit"><input type="submit" value="Submit"></div>
        </form>


    </div>

{% endblock %}

